<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>are you sure you want to delete the following course?</h2>
    <p>Name: {{a.CName}}</p>
    <p>description: {{a.Des}}</p>
    <a href="/"><input type="submit" value="No"></a>
    <a href="/delete/{{a.id}}"><input type="submit" value = delete></a>
</body>
</html>