<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Tv show{{show.id}}</h1>
<a href="/shows">Go back</a>
<p>Title: {{show.title}}</p>
<p>Network: {{show.Network}}</p>
<p>Release Date: {{show.releaseDate}}</p>
<p>Description {{Show.des}}</p>

<p>wwwww</p>

<p>last updated: {{show.updated_at}}</p>
<a href="/shows/edit/{{show.id}}">edit</a>
<a href="/shows/delete/{{show.id}}">delete</a>
</body>
</html>