.container{
height: 400px;
/* width: 600; */
/* background-color: aqua; */
padding-left: 30%;
display: flex;
flex-direction: column;
justify-content: center;    

}
.top{
height: 100px;
width: 64.98%;
background-color: #17A2B8;
}
.bot{
    /* height: 200px; */
    width: 60%;
    border: solid black;
    padding:20px;
    /* bor */
    /* border-style: solid; */
    /* background-color: bisque; */
    /* border-color: black; */
}

.pfp{
/* position: absolute ; */
/* top: 120px; */
width: 100px;
margin-top:-60px;
/* margin-left: 10PX; */

}
#marker{
    width: 10px;
}
#gear{
    width: 10px;
}
/* *{
outline:darkgoldenrod dotted;

} */