<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="wrapper">

        <form action="/results" method="post" class="container">
            {% csrf_token %}
            
            <label for="name">Name:
                
                <input type="text"name="name" >
            </label>
            
            <label for="city">Location

                <select name="city">    
                    <option value="Jeddah">Jeddah</option>
                    <option value="Makkah">Makkah</option>
                    <option value="Riyadh">Riyadh</option>
                    
                    
                </select>
            </label>
            
            <label for="job">Job:

                <select name="job" >
                    <option value="student">student</option>
                    <option value="teacher">teacher</option>
                    <option value="unemployed">unemployed</option>
                    <option value="freelancer">freelancer</option>
                </select>
            </label>
            
            <label for="Comments">Comments: 
            </label>

                <textarea name="Comments" id="" cols="30" rows="10"></textarea>
                
                <input type="submit" value="submit">
            </form>
    </div>
    </body>
</html>