img{
    height: 200px;
}
#top{
    background-color:#5CC6D4;
    padding:25px;
    display: flex;
    justify-content: space-between;

}
#mid{
    background-color: #D4A1AA;
    padding:25px;
    display: flex;
    justify-content: space-around;
}
#bottom{
    display: flex;
    justify-content: center;
    background-color: darkblue;
    padding:25px;
    justify-content: space-around;
}
#frame{
    background-color: darkkhaki;
    padding: 2%;
}
body{
    width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}