<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">    
    {% for message in messages %}    
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
    </ul>
    {% endif %}
    <h3>Add a course</h3>
    <form action="/addCourse" method="post">
        {% csrf_token %}
        <div>
            <label for="CName">Name</label>
            <input type="text" name="CName">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Add">
    </form>
    <p>courses</p>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date added</th>
            <th>Actions</th>
        </tr>
        {%for i in a%}
        <tr>
            <td>{{i.CName}}</td>
            <td>{{i.Des}}</td>
            <td>{{i.created_at}}</td>
            <td><a href="/deleteCourse/{{i.id}}">delete</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>