<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            
    background-color:antiquewhite
}
    .box{background-color: {{Bcolor}};
        
    width:150px;
    height:150px;
    margin: 10px;
    display:inline-block;
}
    </style>
    
</head>
<body>

    <h1>hello word</h1>
{% for x in range(0,times): %}
<div class="box"background-color ></div>
{% endfor %}
<!--     
    <div class="box"></div>
    <div class="box"></div> -->
    
</body>
</html>