<<<<<<< HEAD
.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
=======
.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
>>>>>>> e952974c77d98ff495761fdcef6ddcc990316774
}