<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

    {% for q in range(0,y): %}
    <br>
    {% for x in range(q,x+q): %}
    {%if x%2==0 %}
    <div class="box2" ></div>
    {%else %}
    <div class="box" ></div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</body>
</html>
