*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
#container{
 padding:0px 400px;
}

#nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(204,204,204);
    margin: auto;
}

#nav h1{
    margin-bottom: 10px;
}

#nav input{
    /* margin: 0px 50px; */
    width: 40%;
    margin-top: 13px;
    height: 25px;
    border: 2px black solid;
}

#nav button{
    background-color: rgb(43,120,228);
    margin-top: 13px;
    color: white;
    width: 60px;
    height: 25px;
}
#mid{
    margin: auto;
    margin-top: 40px;
    margin-left: -35px;
    width: 70%;
    display: block;
    justify-content: space-around;
}

#mid .midcontent{
    display: flex;
    margin-top: 30px;
    margin-left: 38px;
    height: 210px;
    outline: 3px black solid;
}

.right{
    width: 30%;
    outline: 3px black solid;
    margin-left: 514px;
    margin-top: -470px;
    height: 130px;
}

.right h2{
    margin: 20px 10px;
}

.right button{
    margin: 5px 13px;
    width: 200px;
    height: 30px;
    box-shadow: 2px 2px;
    background-color: rgb(147,196,125);
}

.desc{
    margin: 70px 0px 0px 40px;
    /* margin-bottom:100px; */
    font-weight: bold;
}

.head{
    width: 150px;
    padding-top: 20px;
    padding-left: 20px;
}

.noun{
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
}

.but{
    margin-top: 15px;
    background-color: rgb(255,217,102);
    color: black;
    height: 40px;
    width: 80px;
    box-shadow: 2px 2px;
}